* {
    margin: 0;
    padding: 0;
}

body {
    border: solid purple 5px;
    /* display: flex; */
}

nav {
    border: solid green 5px;
    display: flex;
}

section {
    border: solid pink 5px;
    display: flex;
    justify-content: space-between;
}

#pokeCardsSearch {
    display: flex;
    flex-direction: column;
    border: solid blue 5px;
    width: 60vw;
}

#pokeCardsSell {
    border: solid red 5px;
    width: 30vw;
}

#pokeCards {
    border: solid gray 5px;
    /* display: inline; */
    text-align: center;
    height: 85vh;
    overflow: scroll;
}

/* img {
    border: solid brown 5px;
    margin: 2px;
} */

.filter {
    border: solid orange 5px;
}

#forPokeSearch {
    border: solid yellow 5px;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
}

#forPokeSearch label {
    font-size: x-large;
}

#forPokeSearch button {
    font-size: x-large;
}

#forPokeSearch input {
    font-size: x-large;
}

#special1 {
    display: flex;
}

.pokeFilterClass {
    border: solid black 5px;
    width: fit-content;
    margin: 5px;
    padding: 5px;
    background-color: lightgreen;
}

.pokeFilterClass:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
    /* border: solid brown 5px; */
}

.pokeFilterClass:active {
    transform: scale(.98);
    transition: 0.2s;
}

/* new added class */
/* .pokeFilterClass2:hover {
    cursor: pointer;
    border: solid blue 5px;
} */


.cardsContainerClass {
    border: solid lightblue 5px;
    width: auto;
    margin: 10px;

    display: flex;
    flex-wrap: wrap;
}

#sellPokeCards {
    border: solid maroon 5px;
}

.containerOfInfo {
    border: solid yellowgreen 5px;
    margin: 5px;
}

.containerOfInfo:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

.containerOfInfo:active {
    transform: scale(.98);
    transition: 0.2s;
}

#addPokeCards {
    background-color: lightblue;
    border-radius: 5px;
    font-size: large;
}

#addPokeCards:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

#addPokeCards:active {
    transform: scale(.98);
    transition: 0.2s;
}

#removePokeCards {
    background-color: lightblue;
    border-radius: 5px;
    font-size: large;
}

#removePokeCards:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

#removePokeCards:active {
    transform: scale(.98);
    transition: 0.2s;
}

#search {
    background-color: lightblue;
    border-radius: 5px;
}

#search:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

#search:active {
    transform: scale(.98);
    transition: 0.2s;
}

#copyText {
    background-color: lightblue;
    border-radius: 5px;
    font-size: large;
}

#copyText:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
}

#copyText:active {
    transform: scale(.98);
    transition: 0.2s;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(96, 121, 152, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader::before {
    content: "";
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* ---------------------------------------------------------------- */

@media only screen and (max-width: 985px) {
    section {
        flex-direction: column-reverse;
    }

    #pokeCardsSearch {
        width: 100%;
    }

    .cardsContainerClass {
        margin: 0px;
        height: 900px;
        overflow: scroll;
    }

    #sellPokeCards {
        height: 140px;
        overflow: scroll;
    }

    .pokeFilterClass {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto; 
    }

    #pokeCardsSell {
        /* margin: auto; */
        width: 100%;
    }
}

@media only screen and (max-width: 585px) {
    section {
        flex-direction: column-reverse
    }

    #pokeCardsSearch {
        width: 100%;
    }

    .cardsContainerClass {
        margin: 0px;
        height: 450px;
        overflow: scroll;
    }

    #sellPokeCards {
        height: 140px;
        overflow: scroll;
    }

    .pokeFilterClass {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto; 
    }

    /* .pokeFilterClass img {
        max-width: 123px;
        max-height: 171px;
    } */

    #forPokeSearch {
        flex-direction: column;
    }

    #pokeCardsSell {
        /* margin: auto; */
        width: 100%;
    }
}
