* {
    margin: 0;
    padding: 0;
}

body {
    border: solid purple 5px;
    /* display: flex; */
}

nav {
    border: solid green 5px;
    display: flex;
}

section {
    border: solid pink 5px;
    display: flex;
    justify-content: space-between;
}

#pokeCardsSearch {
    display: flex;
    flex-direction: column;
    border: solid blue 5px;
    width: 60vw;
}

#pokeCardsSell {
    border: solid red 5px;
    width: 30vw;
}

#pokeCards {
    border: solid gray 5px;
    /* display: inline; */
}

/* img {
    border: solid brown 5px;
    margin: 2px;
} */

.filter {
    border: solid orange 5px;
}

#forPokeSearch {
    border: solid yellow 5px;
    display: flex;
    justify-content: space-between;
}

#special1 {
    display: flex;
}

.pokeFilterClass {
    border: solid black 5px;
    width: fit-content;
    margin: 5px;
    padding: 5px;
    background-color: lightgreen;
}

.pokeFilterClass:hover {
    cursor: pointer;
}

.cardsContainerClass {
    border: solid lightblue 5px;
    width: auto;
    margin: 10px;

    display: flex;
    flex-wrap: wrap;
}

#sellPokeCards {
    border: solid maroon 5px;
}

.containerOfInfo {
    border: solid yellowgreen 5px;
    margin: 5px;
}